* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container-Weather-App {
  margin: 0px 100px;
  /*background-color: orange;*/
  padding: 20px;
}

.NameApp {
  background-color: yellow;
}

.Weather {
  background-color: pink;
}

.DescriptionWeather {
  background-color: blue;
}